@import "tailwindcss";

@font-face {
  font-family: "Outfit";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url(assets/fonts/Outfit/Outfit-VariableFont_wght.ttf) format("truetype");
}

@font-face {
  font-family: "Clash Display";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url(assets/fonts/Clash_Display/ClashDisplay-Regular.otf)
    format("opentype");
}

@font-face {
  font-family: "Instrument Sans";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url(assets/fonts/Instrument_Sans/InstrumentSans-VariableFont_wdth\wght.ttf)
    format("opentype");
}

@theme {
  --color-surface-lightest: #f7f7f7;
  --color-surface-lighter: #fcfcfc;
  --color-surface-light: #f8fefb;
  --color-surface-muted: #f2f2f2;
  --color-surface-subtle: #f5f5f5;
  --color-text-light: #828282;
  --color-text-dark: #000e10;
  --color-text-dark-subtle: #4f4f4f;
  --color-primary-dark: #013941;
  --color-accent-light: #ccf6e5;
  --color-accent-lighter: #e6fbf2;
  --color-border-default: #e0e0e0;
  --font-display: "Outfit", sans-serif;
  --font-clash: "Clash Display", sans-serif;
  --font-instrument-sans: "Instrument Sans", sans-serif;
}

@layer base {
  html {
    font-size: 62.5%;
  }

  * {
    outline: 1px transparent;
  }

  *:focus {
    transition: all 0.3s;
    outline: 1px solid var(--color-primary-dark);
  }

  ::-webkit-scrollbar {
    @apply w-[.7rem] h-[.7rem] bg-accent-light;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-primary-dark rounded;
  }

  ::selection {
    @apply bg-primary-dark text-accent-lighter;
  }

  body {
    line-height: 1.4;
    font-family: "Outfit", sans-serif;
    font-size: 1.6rem;
    @apply text-text-light font-display;
  }

  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%;
    }
  }

  /* @media only screen and (max-width: 48em) {
    html {
      font-size: 54%;
    }
  } */
}

@layer components {
  .main {
    @apply flex items-center justify-center py-10;
  }
  /* Form / Input / Dropdown Component Styles */
  .main-container {
    @apply shadow w-6xl mx-auto rounded-[3rem] min-h-200 py-16 px-[6.4rem] flex flex-col items-center gap-[2.4rem];
  }

  @media only screen and (max-width: 37.5em) {
    .main-container {
      @apply px-16 py-16;
    }
  }

  @media only screen and (max-width: 28.75em) {
    .main-container {
      @apply shadow-none rounded-none px-10 py-10;
    }
  }

  .form-container {
    @apply flex flex-col items-center gap-[2.4rem] w-full;
  }

  .dropdown {
    @apply absolute top-[130%] z-50 left-1/2 -translate-x-1/2 w-full bg-white px-[1.6rem] py-[1.2rem] border border-border-default rounded-4xl space-y-[.8rem];
  }

  .input {
    @apply border border-border-default rounded-[3rem] p-8 w-full text-text-light placeholder:text-text-light focus:outline-0 ring-4 ring-transparent ring-offset-2 focus:ring-primary-dark/70 transition duration-300;
  }

  .input-holder {
    @apply text-primary-dark font-medium space-y-[1.6rem] w-full;
  }

  .input-holder__dropdown {
    @apply p-8 border cursor-pointer border-border-default rounded-[3rem] ring-4 transition duration-300;
  }

  .input-holder__select {
    @apply flex items-center justify-between relative;
  }

  .input-holder__icon {
    @apply text-[2rem] cursor-pointer transition duration-300;
  }

  .card-list {
    @apply bg-surface-lightest w-full py-[1.6rem] px-[2.4rem] space-y-[2.4rem] rounded-2xl mt-[6.4rem] mb-[2.4rem];
  }
}
